.basket {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px;
}

.basket__wrapper {
	width: 100%;
	padding: 20px;
}

.basket__list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	margin: 20px;
	padding: 20px 0px;
}

.btn__back {
    display: flex;
    justify-content: center;
}