.wrapper {
	width: 850px;
	height: 380px;
  margin: 0 auto;
}

.card {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	background-color: antiquewhite;

}


.card__counter {
  display: flex;
  margin: 20px 0;
}

.card__image {
  margin: 10px;
}

.image {
  object-fit: cover;

}

.card__desctiption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 10px;
}

.inStock-success {
  color: forestgreen;
}

.inStock-failed {
  color: rgb(199, 50, 50);
}

.counter {
  margin: 0 10px;
}